<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }

    </style>

</head>

<body background="img/qin.png">
        <b style="font-style: oblique; font-size: 60px;position: fixed;left: 10px;top: 10px;font-family: Bradley Hand ITC;">
            Pskyfly's Blog
        </b>
        <ul class="layui-nav layui-nav-tree" lay-filter="test" style="position: fixed;left: 1400px;">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
              <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">学习笔记</a>
                <dl class="layui-nav-child">
                  <dd><a href="/linux">Linux基础</a></dd>
                  <dd><a href="/layui">LayUI框架</a></dd>
                  <dd><a href="/acm">ACM-ICPC训练</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/problems">刷题记录</a></li>
              <li class="layui-nav-item"><a href="/talk">评论区</a></li>
            </ul>
        <br><br>
        <b style="font-size: 30px; font-family:方正舒体;position: fixed;top: 600px;left: 30px;" class="layui-anim layui-anim-upbit">
            另一个世界  在你我指尖
        </b>
        
</body>

</html>